# Environment variables
.env
.venv
env/
venv/
ENV/

__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

.idea/
.vscode/
*.swp
*.swo
.DS_Store
Thumbs.db

process_log.txt
processed_frame_log.txt
session_input_log.txt
processing_vedio_frame_log.txt
movie_trailers.csv
# chromaDBview.py
tt4154796.mp4
visual.onnx
test_samples/
csv_files/
chromaDB/
env_clip/
trailers/
logs/
*.csv
*.log

.ipynb_checkpoints